body{
    margin: 10px;
}

.p-1{
    padding: .25rem !important;
}

.p-2{
    padding: .5rem !important;
}

.m-1{
    margin: .25rem !important;
}

.m-2{
    margin: .5rem !important;
}

/* Formulario: precio, cantidad, articulo */
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
}

.flex-container > label{
    width: 30%;
    align-self: center;
}

.flex-container > input{
    width: 60%;
    border: 2px solid #FF8181;
    border-radius: 0.75em;
    padding: 0 0.6rem;
}

.flex-container > textarea{
    width: 60%;
    border: 2px solid #FF8181;
    border-radius: 0.75em;
    padding: 0.5em 0.6rem;
}

.flex-container > input {
    height: 30px;
    font-size: 20px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

/* Boton agregar */

button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #fff;
   --button_outline_color: #FF8181;
   font-size: 15px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   padding: 0;
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.70em 1em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }
  

.btnCheckAll{
    background-color: #FF8181;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    padding-top: 5px;
    padding: 5px 5px 0 5px;
    border: 1px solid #FF8181;
}

.btnCheckNone{
    border: 1px solid #FF8181;
    text-decoration: none;
    border-radius: 3px;
    color: #FF8181;
    padding-top: 5px;
    padding: 5px 5px 0 5px;
}

.btnOrder{
    color: #FF8181;
}

.btn-primary{
    left: 0;
    right: 0;
    margin-bottom: 1%;
    margin-left: 5%;
    text-align: center;
    background-color: #FF8181;
    position: fixed;
    bottom: 0;
    width: 60%;
    border-radius: 7px;
}

.btn-primary a:link, a:active, a:visited{
    text-decoration: none;
}

.btn-danger{
    right: 0;
    margin:10px 5% 1%;
    padding: 4% 0;
    text-align: center;
    background-color: #fff;
    border: 2px solid #f24;
    position: fixed;
    bottom: 0;
    width: 25%;
    border-radius: 7px;
    color: #ff2424;
}

.text-primary{
    color: #FF8181;
}

.totalArtSelec{
    color: #000;
    margin:5px 0 10px 0;
}

.table{
    margin-bottom: 150px;
}

.totalArt{
    color: #fff;
    margin:10px 0 5px 0;
}

.table-noBorder{
    border-collapse: collapse;
}

.table-striped tr:nth-child(even){
    background-color: #eee;
}

.table-striped tr:nth-child(odd){
    background-color: #fff;
    border-left: #eee;
    border-right: #eee;
}

.table-striped td{
    padding: 15px 0;
}

.cantArt,.cantArtSelect{
    color: #FF8181;
    font-size: small;
}

/* Modal */

.modal{
    margin: auto 2em;
    padding: 0;
    border-radius: 5px;
}

.modalHeader{
    background-color: #000;
    padding: 5%;
}

.modalBody{
    padding: 15px;
}

.btnAceptar{
    background-color: rgb(255, 129, 129);
    border-radius: 7px;
    border: 1px solid #FF8181;
    padding: 10px;
    color: #fff;
}

.btnAceptar:active{
    background-color: rgb(218, 135, 135);
    border-color: rgb(218, 133, 133);
}

.btnCancelar{
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(216, 216, 216);
}


@media all and (display-mode: standalone) {
    #instalacion{
        display: none;
    }
}


/* Input checked */

/* Hide the default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .containerCheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border: 1px solid #FF8181;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* When the checkbox is checked, add a blue background */
   .containerCheck input:checked ~ .checkmark {
    background-color: #FF8181;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .containerCheck input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .containerCheck .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }